* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

body {
  background-color: whitesmoke;
}



/*navigation bar*/

.navigation-container {
  display: flex;
  justify-content: center;
}
.navigation {
  width: 50%;
}

/*submenu*/

.content {
  text-align: center;
}
.button {
  width: 200px;
}
