* {
  margin: 0;
  padding: 0;
}

.box {
  margin-bottom: 10px;
}
.context {
  font-family: "Trajan Pro", sans-serif;
}
.context-container {
  margin-top: 10px;
  display: flex;
  justify-content: center;
}
.context p {
  text-align: center;
  margin-left: 10px;
  color: white;
  font-size: 20px;
}

#simbahayan {
  font-size: 22px;
}
#ust {
  font-size: 9px;
}

#comdev {
  font-size: 9px;
}
.navigation {
  width: 100%;
}

.navigation a,
button {
  font-size: 18px;
  font-family: "Times New Roman", Times, serif;
}

.navigation a:hover,
button:hover {
  background-color: gainsboro;
  transition: 0.8s;
}
