* {
  margin: 0;
  padding: 0;
}
.table-container {
  padding: 15px;
  margin: 10px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.table-wrapper {
  display: flex;
  justify-content: center;
  width: 70%;
}
thead {
  background-color: gold;
}
