@font-face {
  font-family: 'Trajan Pro';
  src: url('http://localhost/Simbahayan/simbahayan-ui/css/TrajanPro-Regular.ttf');
}
* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

.welcome-container {
  margin-left: 20px;
}
.welcome-context h1 {
  color: black;

  background-image: linear-gradient(to left, #000000c2, #f8ad00fd);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  font-size: 50px;
}

.welcome-context span {
  color: black;
}

.welcome-context p {
  font-size: 25px;
}
.carousel-item img {
  width: auto;
  height: 500px;
  max-height: 500px;
}
.navigation-container {
  display: flex;
  justify-content: center;
}
.navigation {
  width: 50%;
}
