/*table css*/
* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

body {
  min-height: 100vh;
  padding-bottom: 50px;
}

.navbar a {
  color: black;
  font-size: 35px;
  font-family: "Trajan Pro", sans-serif;
  margin-left: 20px;
  text-decoration: none;
}
.navbar span {
  color: gold;
}

/*navigation bar*/

.navigation-container {
  display: flex;
  justify-content: center;
}
.navigation {
  width: 50%;
}

.navbar {
  background-color: #f6fdca;
}

.title-wrapper {
  display: flex;
  justify-content: center;
}

.kra-1 {
  display: flex;
  justify-content: center;
}
.kra-1 {
  font-weight: 500;
}

table th {
  font-size: 18px;
}

table td {
  font-size: 14px;
}

table input {
  width: 50%;
  text-align: center;
}

.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.button-wrapper {
  width: 70%;
  display: flex;
  justify-content: space-between;
}
