* {
  margin: 0;
  padding: 0;
}

.background-image {
  display: block;
  position: relative;
  height: 100vh;
}

.background-image::after {
  content: "";
  background: url(http://localhost/Simbahayan/login-page/pictures/hdmain.jpg);
  background-repeat: no-repeat;
  background-size: cover;

  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}
.card-container {
  margin-top: 80px;
}

.select-role-container {
}

.select-role {
  background: rgba(0, 0, 0, 0.6);
  justify-content: center;
  display: flex;
  font-family: "Trajan Pro", sans-serif;
  height: 200px;
  align-items: center;
}

.select-role h2 {
  font-size: 42px;
  text-shadow: 5px 5px black;
  color: white;
}
.card-title {
  font-family: "Trajan Pro", sans-serif;
  justify-content: center;

  display: flex;
  color: black;
  font-size: 30px;
}
a:link {
  text-decoration: none;
}
.card-title:hover,
.card-title:active {
  font-size: 200%;
  transition: 0.9s;
  color: ghostwhite;

  font-weight: bold;
}

.card-body {
  background-color: goldenrod;
}

.images {
  justify-content: center;
  display: flex;
}
